
#pig {
  max-width : 25vw
; max-height: 25vh
; float     : right
}

#example {
  max-width   : 60vw
; max-height  : 60vh
; display     : block
; margin-left : auto
; margin-right: auto
}


table {
  border-style   : solid
; border-width   : thin
; border-collapse: collapse
}

th, td {
  text-align    : left
; vertical-align: top
; border-style  : solid
; border-width  : thin
; padding       : 4px
}


a {
  color          : #e85d91ff
; text-decoration: none
}

body {
  color           : white
; background-color: #0e0e34ff
; font-family     : Monserat, sans-serif
}

